/*font-family: 'PT Sans Narrow', sans-serif;*/

/*    Анимация    */

@keyframes shutter {
	0% {
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}

	100% {
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		transform: scaleY(0);
	}
}

@keyframes revealText {
	0% {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-o-transform: scaleX(1);
		transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		-o-transform: scaleX(0);
		transform: scaleX(0);
	}
}

@keyframes revealTextReverse {
	0% {
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		-o-transform: scaleX(0);
		transform: scaleX(0);
	}

	100% {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-o-transform: scaleX(1);
		transform: scaleX(1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInBottom {
	0% {
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		-o-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeInRight {
	0% {
		-webkit-transform: translateX(150px);
		-ms-transform: translateX(150px);
		-o-transform: translateX(150px);
		transform: translateX(150px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/*    Стили страницы    */

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
}
.landing {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	display: grid;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	overflow: hidden;	
}

/*    Стили затвора    */

.enter {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}

.shutter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	-webkit-animation: shutter 1s ease-in-out forwards;;
	-o-animation: shutter 1s ease-in-out forwards;;
	animation: shutter 1s ease-in-out forwards;;
}

.shutter.black {
	background: #000000;
	z-index: 2;
}

.shutter.blue {
	background: #03a9f4;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	z-index: 1;
}

/*    Стили Хэдера    */

header {
	position: absolute;
	top: 5%;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 80px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1015;	
}


/*    Стили логотипа    */

.logo {
	position: absolute;
	top: 0;
	left: 10%;
	opacity: 0;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-transform: uppercase;
	line-height: 80px;
	-webkit-animation: fadeIn 0.5s linear forwards;
	-o-animation: fadeIn 0.5s linear forwards;
	animation: fadeIn 0.5s linear forwards;
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

/*    Стили главного меню    */
.nav {
	position: absolute;
	top: 0;
	right: 10%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0;
	padding: 0;
	line-height: 80px;	
	z-index: 1020;
}

.nav__item {
	opacity: 0;
	list-style: none;
	margin: 0 10px;
	-webkit-animation: fadeInRight 0.5s linear forwards;
	-o-animation: fadeInRight 0.5s linear forwards;
	animation: fadeInRight 0.5s linear forwards;
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
	padding: 5px 10px;
	letter-spacing: 2px;
}

.nav__link.active,
.nav__link:hover {
	background: #000;
	color: #fff;
}

/*    Стили основного контента    */

main {
	position: absolute;
	top: 50%;
	left: 20%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 800px;
	margin: 0;
	padding: 0;
}

.banner__title {
	font-size: 6em;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.banner__heading {
	font-size: 3em;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.banner__title, .banner__heading {
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	text-transform: uppercase;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-animation: revealTextReverse 1s ease-in-out forwards;
	-o-animation: revealTextReverse 1s ease-in-out forwards;
	animation: revealTextReverse 1s ease-in-out forwards;
}

.banner__title::before, .banner__heading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
	-webkit-animation: revealText 1s ease-in-out forwards;
	-o-animation: revealText 1s ease-in-out forwards;
	animation: revealText 1s ease-in-out forwards;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.banner__heading::before {
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

.banner__text {
	opacity: 0;
	font-weight: 400;
	font-size: 1.2em;
	-webkit-animation: fadeIn 1s linear forwards;
	-o-animation: fadeIn 1s linear forwards;
	animation: fadeIn 1s linear forwards;
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

.banner__link {
	opacity: 0;
	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 20px;
	border: 3px solid transparent;
	background: #000000;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 1px;
	-webkit-animation: fadeInBottom 0.5s linear forwards;
	-o-animation: fadeInBottom 0.5s linear forwards;
	animation: fadeInBottom 0.5s linear forwards;
	-webkit-animation-delay: 5.5s;
	-o-animation-delay: 5.5s;
	animation-delay: 5.5s;
	transition: color, background, border .5s ease-in-out;
}

.banner__link:hover {
	border: 3px solid #000000;
	background: #ffffff;
	color: #000000;
}

.main__img {
	opacity: 0;
	position: absolute;
	right: 20%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-animation: fadeIn 1s linear forwards;
	-o-animation: fadeIn 1s linear forwards;
	animation: fadeIn 1s linear forwards;
	-webkit-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
	z-index: 100;	
}